.pop-up-container {
    position: fixed;
    z-index: 10000;
}

.pop-up {
    font-family: "Open Sans", serif;
    width: 190px;
    height: 70px;
    box-sizing: border-box;
    border: 4px solid rgba(60, 60, 60, 1);
    border-radius: 100px;
    background: rgba(21, 21, 21, .67);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0);
    opacity: 1;
    transition: transform .7s, opacity .5s;
}

.pop-up .circle {
    width: 23px;
    height: 23px;
    border: 2px solid;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up .desc {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-left: 7px;
}

.pop-up.success > .circle {
    border-color: rgba(110, 255, 98, 1);
}

.pop-up.denide > .circle {
    border-color: rgba(255, 98, 98, 1);
}

.pop-up.warn > .circle {
    border-color: rgba(255, 184, 78, 1);
}

.pop-up-container.left-top {
    left: 10px;
    top: 10px;
}

.pop-up-container.right-top {
    right: 10px;
    top: 10px;
}

.pop-up-container.left-bottom {
    left: 10px;
    bottom: 10px;
}

.pop-up-container.right-bottom {
    right: 10px;
    bottom: 10px;
}

.pop-up-container.left-top > .pop-up {
    margin-bottom: 10px;
}

.pop-up-container.right-top > .pop-up {
    margin-bottom: 10px;
}

.pop-up-container.left-bottom > .pop-up {
    margin-top: 10px;
}

.pop-up-container.right-bottom > .pop-up {
    margin-top: 10px;
}

.pop-up-container.left-top > .disactive {
    transform: translate(-200px);
    opacity: 0;
}

.pop-up-container.right-top > .disactive {
    transform: translate(100%);
    opacity: 0;
}

.pop-up-container.left-bottom > .disactive {
    transform: translate(-200px);
    opacity: 0;
}

.pop-up-container.right-bottom > .disactive {
    transform: translate(100%);
    opacity: 0;
}