.pop-up-container {
    position: fixed;
    z-index: 10000;
}

.pop-up {
    font-family: "Open Sans", serif;
    width: 190px;
    height: 70px;
    box-sizing: border-box;
    border: 4px solid rgba(60, 60, 60, 1);
    border-radius: 100px;
    background: rgba(21, 21, 21, .67);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0);
    opacity: 1;
    transition: transform .7s, opacity .5s;
}

.pop-up .circle {
    width: 23px;
    height: 23px;
    border: 2px solid;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up .desc {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-left: 7px;
}

.pop-up.success > .circle {
    border-color: rgba(110, 255, 98, 1);
}

.pop-up.denide > .circle {
    border-color: rgba(255, 98, 98, 1);
}

.pop-up.warn > .circle {
    border-color: rgba(255, 184, 78, 1);
}

.pop-up-container.left-top {
    left: 10px;
    top: 10px;
}

.pop-up-container.right-top {
    right: 10px;
    top: 10px;
}

.pop-up-container.left-bottom {
    left: 10px;
    bottom: 10px;
}

.pop-up-container.right-bottom {
    right: 10px;
    bottom: 10px;
}

.pop-up-container.left-top > .pop-up {
    margin-bottom: 10px;
}

.pop-up-container.right-top > .pop-up {
    margin-bottom: 10px;
}

.pop-up-container.left-bottom > .pop-up {
    margin-top: 10px;
}

.pop-up-container.right-bottom > .pop-up {
    margin-top: 10px;
}

.pop-up-container.left-top > .transition {
    transform: translate(-200px);
    opacity: 0;
}

.pop-up-container.right-top > .transition {
    transform: translate(100%);
    opacity: 0;
}

.pop-up-container.left-bottom > .transition {
    transform: translate(-200px);
    opacity: 0;
}

.pop-up-container.right-bottom > .transition {
    transform: translate(100%);
    opacity: 0;
}

.pop-up.success .circle > .image {
    width: 13px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.74139 4.30168L5.11208 7.67237L11.4569 1.32755' stroke='%236EFF62' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.pop-up.denide .circle > .image {
    width: 11px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 5.5M10 10L5.5 5.5M5.5 5.5L10 1L1 10' stroke='%23FF6262' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.pop-up.warn .circle > .image {
    width: 3px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='3' height='15' viewBox='0 0 3 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 10.6724C1.5 10.6724 1.5 5.058 1.5 1.15517' stroke='%23FFB84E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='1.5' cy='13.7722' r='1' fill='%23FFB84E'/%3E%3C/svg%3E%0A");;
}